.cardContainer{
    border-bottom: 1px solid rgb(41, 54, 65);
    padding: 1em;
}
.cardHeader{
    display: flex;
    
    align-items: center;
    gap: 1em;
    margin-bottom: 10px;
}
.description{
    font-size: 0.8em;
   
}
.timeRow{
    margin-top: 10px;
    display: flex;
    gap: 1em;
}
.timeCell{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}