.navbar {
  grid-column: span 2;
  /* navbar spans both columns */
  
}

.container {
  display: grid;
  min-height: 100vh;
  /* 2 columns: sidebar + content */
  grid-template-columns: 250px 1fr;
  /* 2 rows: header + rest of page */
  grid-template-rows: 90px 1fr;

  /* This defines layout structure */
  grid-template-areas:
    "header header"
    "sidebar main";
}

.sidebar {
  background: #737d8d;
  color: white;

}

.mainContent {

  padding: 20px;
  background: #f1f5f9;
}